@model IEnumerable<MVCTestWebApplication1.Models.Review>

@{
    ViewBag.Title = "Index";  // don't change this. This is a reference to the file's name.
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New Review", "Create")  <!-- don't change the reference, "Create".  Refers to file Create.cshtml.  link will break -->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.Title)  <!-- model such that model.Album.Title -->
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewerEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Title)  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewerEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewID })
        </td>
    </tr>
}

</table>
